@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary-50 {
  background: linear-gradient(
    279.69deg,
    rgba(0, 121, 109, 0.1) 0%,
    rgba(56, 198, 130, 0.1) 100%
  );
}
.text-primary-50 {
  background: linear-gradient(
    279.69deg,
    rgba(0, 121, 109, 0.1) 0%,
    rgba(56, 198, 130, 0.1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.bg-primary-100 {
  background: linear-gradient(
    279.69deg,
    rgba(0, 121, 109, 0.2) 0%,
    rgba(56, 198, 130, 0.2) 100%
  );
}
.text-primary-100 {
  background: linear-gradient(
    279.69deg,
    rgba(0, 121, 109, 0.2) 0%,
    rgba(56, 198, 130, 0.2) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.bg-primary-200 {
  background: linear-gradient(
    279.69deg,
    rgba(0, 121, 109, 0.4) 0%,
    rgba(56, 198, 130, 0.4) 100%
  );
}
.text-primary-200 {
  background: linear-gradient(
    279.69deg,
    rgba(0, 121, 109, 0.4) 0%,
    rgba(56, 198, 130, 0.4) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.bg-primary-300 {
  background: linear-gradient(
    279.69deg,
    rgba(0, 121, 109, 0.6) 0%,
    rgba(56, 198, 130, 0.6) 100%
  );
}
.text-primary-300 {
  background: linear-gradient(
    279.69deg,
    rgba(0, 121, 109, 0.6) 0%,
    rgba(56, 198, 130, 0.6) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.bg-primary-400 {
  background: linear-gradient(
    278.87deg,
    rgba(0, 121, 109, 0.8) 0.61%,
    rgba(56, 198, 130, 0.8) 100%
  );
}
.text-primary-400 {
  background: linear-gradient(
    278.87deg,
    rgba(0, 121, 109, 0.8) 0.61%,
    rgba(56, 198, 130, 0.8) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.bg-primary-500 {
  background: linear-gradient(279.69deg, #00796d 0%, #38c682 100%);
}
.text-primary-500 {
  background: linear-gradient(279.69deg, #00796d 0%, #38c682 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.glow {
  background: #ffffff;
  opacity: 0.08;
  filter: blur(190px);
}

.ornament-circle {
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.2;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
